.App {
  margin-left: 2rem;
}

input {
  width: 30rem;
  height: 2rem;
  margin-top: 2rem;
}

#addComment {
  width: 8rem;
  height: 2rem;
  margin-left: 1rem;
}

#displayComments {
  margin: 2rem;
}

button {
  margin-left: 1rem;
  padding: 0.3rem;
}
